@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat';
  font-display: swap;
}

#id_password {
  display: none;
}

.card {
  border-radius: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#content-main .tab-pane .card {
  border: none;
  box-shadow: none;
}

#recent-actions-module h3 {
  display: none;
}

#recent-actions-module .timeline h3 {
  display: block;
}

.btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#changelist-form #content-main #changelist .row .row .actions .form-control {
  padding-top: 1px;
}

.content-header h1 {
  display: none;
}

.form-group input {
  outline: none;
}


.login-box .card-body {
  padding-top: 40px;
  border-top: 2px solid #007bff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.login-box-msg {
  display: none;
}

.main-footer .float-right b {
  display: none;
}

/* #index */

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}


